@import "tailwindcss";
@font-face {
    font-family: regular;
    src: url('./assets/font/UberMove-Regular.woff2');
}
@font-face {
    font-family: font2-bold;
    src: url('./assets/font/UberMove-Bold.woff2');
}
@font-face {
    font-family: font3-medium;
    src: url('./assets/font/UberMoveText-Medium.woff2');
}
@font-face {
    font-family: text-regular;
    src: url('./assets/font/UberMoveText-Regular.woff2');
}
body , #root{
    font-family: text-regular;
}

.custom-scroll::-webkit-scrollbar {
  width: 6px;
}

.custom-scroll::-webkit-scrollbar-thumb {
  background: #c4c4c4;
  border-radius: 10px;
}

.custom-scroll::-webkit-scrollbar-track {
  background: transparent;
}
